<div class="container" style="margin-top: 2%;margin-bottom: 2%;">
    <div class="row">
      <div class="span4" style="background-color: #f1f1f1;border-radius: 12px;text-align: center;">
      <br/><br/>
         <p style="text-align: center;font-size: 14px;font-weight: bold;">Our Team </p><br/>
        <div class="row">
	         <div class="span2">
	         	<p>Subba Rao G</p>
	         	<img src="/assets/subbarao.jpg" style="height: 100px;width:100px;">
	         	<br/><span>Sr Software Engineer ( RoR ) </span>
	         </div>
	         <div class="span2">
	         	 <p>Satish Kumar Chaduvula </p>
	         	 <img src="/assets/satish.jpg" style="height: 100px;width:100px;">
	         	 <br/><span>Sr Software Engineer ( RoR ) </span>
	         </div>
         </div>
         <br/><br/>
         <div class="row">
	         <div class="span2">
	         	<p>Hari Krishna G</p>
	         	<img src="/assets/hari.jpg" style="height: 100px;width:100px;">
	         	<br/><span>Sr Software Engineer ( RoR ) </span>
	         </div>
	         <div class="span2">
	         	 <p>Sudheer Kumar P</p>
	         	 <img src="/assets/sudheer.jpg" style="height: 100px;width:100px;">
	         	 <br/><span>Sr Software Engineer ( RoR ) </span>
	         </div>
         </div>
         <br/><br/>

         <div class="row">
	          <div class="span2">
	         	 <p>Prudhvi Raju M</p>
	         	 <img src="/assets/prudhvi.jpg" style="height: 100px;width:100px;">
	         	 <br/><span>Application developer ( .net ) </span>
	         </div>
	         <div class="span2">
	         	 <p>Shanmuk Reddy</p>
	         	 <img src="/assets/shanmuk.jpg" style="height: 100px;width:100px;">
	         	 <br/><span>Jr Application Developer ( RoR ) </span>
	         </div>
         </div>
         <br/><br/>
        <div class="row">
	         <div class="span2">
	         	<p>Appi Reddy</p>
	         	<img src="/assets/appi.jpg" style="height: 100px;width:100px;">
	         	 <br/><span>Jr Application Developer ( RoR ) </span>
	         </div>
	         <div class="span2">
	         	<p>Nagarjuna Yadav K</p>
	         	<img src="/assets/nagarjuna.jpg" style="height: 100px;width:100px;">
	         </div>
	         <br/><span>Sr Software Engineer ( RoR ) </span>
	        
         </div>
<br/><br/>
      </div>

      <br/>
      <div class="span8" style="text-align: justify;">


		<strong>Rails Galaxy</strong> Found by first generation entrepreneurs, Headquartered in Hyderabad in the IT services domain.<br/><br/>

		<strong>Rails Galaxy</strong> is an assemblage of multifaceted software professionals, programmers and disruptive thinkers who apply their capabilities in engineering analysis, application design and product development to the needs of clients in a variety of industries, ranging from consumer durables to aerospace engineering.<br/><br/>

		<strong>Rails Galaxy</strong> is a full service provider of IT services And ITES services are designed to fulfill the needs of local and global companies. Our sourcing and selection systems and processes are state of the art, utilizing the best of breed techniques to perform all your services that will solidify your business.<br/><br/>

		<strong>Rails Galaxy</strong> congenital out of an ambition to provide high quality solutions .the culmination of likeminded industry professionals with extensive experience in the modeling solutions for information technology and business operations.<br/><br/>

		<strong>Rails Galaxy</strong> is a professionally managed Software Development Company servicing clients all over the continent.<br/><br/>

		<strong>Rails Galaxy</strong> is a software and web Development Company. We have a strong dedication and commitment towards project development. What were we serving for our clients with utmost service.<br/><br/>

		Since inception in August 15th 2011, the company has accumulated vast work experience. We have successfully offered our web site design and software development services to a wide range of very satisfied customers all over the continent.<br/><br/>

		We have a structrized vision of developing and deploying our products and services becoming most valued partner of our clients <strong>Rails Galaxy</strong> has its energized.<br/><br/>

		<strong>Rails Galaxy</strong> constitutes emerged ,innovative, imaginative, inspired passionate development team that specialize on<strong> RUBY,Ruby On Rails,JQuery,Javascript,ASP.NET,VB.NET,MYSQL,MongoDB,PHP</strong> with a finishing team consisting of graphic designers, programmers, database specialists, web developer. We predict work is worship towards our clients to provide fast, personalized, and affordable solutions for any project ranging from large to the negligibly small. We are focused on complete reliability models of project execution and management. We offer turnaround guarantees for any project we undertake, backed by comprehensive management planning and supervision.<br/><br/>

		<strong>Rails Galaxy</strong> maintain very high standards in our training. The courses are developed keeping in mind the industry trends & requirements.<br/><br/>

		<strong>Rails Galaxy</strong> also provides ONSITE training to various colleges and other educational institutions. We have an efficient pool of corporate trainers who cater on many IT &NON-IT platforms and the sessions conducted have been interactive and effective. We follow up our training in the workplace to reinforce and ensure effective learning.<br/><br/>

		Although we place importance on , we are committed to providing effective needed knowledge. This translates to successful and measurable outcomes.<br/><br/>

		At <strong>Rails Galaxy</strong> we believe that a rich learning experience can effect powerful transformation, in both the individual and his or her community. That is personally meaningful, professionally motivating, and intellectually stimulating for all participants.

		<br/><br/><br/><br/>
      </div>
    </div>
</div>
